In [14]:
import pandas
import json
incomeraw = pandas.read_csv('../datas/01-medianIncome/ACS_Median_Household_Income_Variables_-_Boundaries/Tract_2.csv')
with open('../datas/00-tractTOzcta/Modified Zip Code Tabulation Areas (MODZCTA).geojson') as f:
    geojdata = json.load(f)
convertor = pandas.read_csv('../datas/00-tractTOzcta/zcta_tract_rel_10.txt', converters={'ZCTA5': lambda x: str(x)})

In [18]:
zcta_modzcta = {}
for geoj in geojdata['features']:
    if geoj['properties']['modzcta'] != '99999':
        for item in geoj['properties']['zcta'].split(', '):
            zcta_modzcta[item] = geoj['properties']['modzcta']
len(zcta_modzcta)

214

In [90]:
zcta_modzcta_df = pandas.DataFrame(zcta_modzcta.items(), columns=['ZCTA5', 'modzcta'])
zcta_modzcta_df.head()

   ZCTA5 modzcta
0  10001   10001
1  10119   10001
2  10199   10001
3  10002   10002
4  10003   10003

In [114]:
txt_geojson = cleanedconvertor.join(zcta_modzcta_df.set_index('ZCTA5'), on='ZCTA5')
txt_geojson = txt_geojson.dropna()
txt_geojson

       ZCTA5        GEOID modzcta
9554   10001  36061005800   10001
9555   10001  36061007600   10001
9556   10001  36061009100   10001
9557   10001  36061009300   10001
9558   10001  36061009500   10001
...      ...          ...     ...
13406  11694  36081093800   11694
13407  11694  36081094201   11694
13408  11697  36081091601   11697
13409  11697  36081091602   11697
13410  11697  36081091800   11697

[2894 rows x 3 columns]

In [98]:
incomeNY = incomeColDropped[incomeColDropped['State'] == 'New York']
incomeNY.shape

(4900, 26)

In [101]:
txt_geojson_csv = incomeNY.join(txt_geojson.set_index('GEOID'), on='Geographic Identifier - FIPS Code')
txt_geojson_csv.dropna(subset=['ZCTA5', 'modzcta'], inplace=True)
txt_geojson_csv

,Object ID,Geographic Identifier - FIPS Code,Area of Land (Square Meters),Area of Water (Square Meters),Name,State,County,Median Household Income in past 12 months (inflation-adjusted dollars to last year of 5-year range),"Median Household Income in past 12 months, Householder under 25 years","Median Household Income in past 12 months, Householder 25 to 44 years",...,"Median Household Income in past 12 months, Non-Hispanic White Householder","Median Household Income in past 12 months, Hispanic or Latino Householder",Total Households,Households with any self-employment income in past 12 months,Households with no self-employment income in past 12 months,Percent of households with any self-employment income,Shape Area,Shape Length,ZCTA5,modzcta
48166,48167,36005000100,1677210,1035011,Census Tract 1,New York,Bronx County,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,NaN,2.733874e+06,6859.256905,11370,11370
48167,48168,36005000200,479463,852046,Census Tract 2,New York,Bronx County,59914.0,NaN,41899.0,...,106146.0,62838.0,1328.0,77.0,1251.0,5.8,8.316785e+05,5722.479186,10473,10473
48168,48169,36005000400,770689,690794,Census Tract 4,New York,Bronx County,82073.0,NaN,82336.0,...,69671.0,81554.0,1963.0,144.0,1819.0,7.3,1.558096e+06,9823.218030,10473,10473
48169,48170,36005001600,485079,0,Census Tract 16,New York,Bronx County,35802.0,NaN,51818.0,...,NaN,36085.0,1982.0,66.0,1916.0,3.3,8.478126e+05,3898.163232,10473,10473
48170,48171,36005001900,1668013,1143135,Census Tract 19,New York,Bronx County,42075.0,NaN,51202.0,...,56750.0,46705.0,929.0,108.0,821.0,11.6,2.859324e+06,12087.013655,10454,10454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50605,50606,36085030302,908763,0,Census Tract 303.02,New York,Richmond County,79865.0,NaN,94821.0,...,87926.0,78977.0,1964.0,87.0,1877.0,4.4,1.579107e+06,5586.835358,10303,10303
50605,50606,36085030302,908763,0,Census Tract 303.02,New York,Richmond County,79865.0,NaN,94821.0,...,87926.0,78977.0,1964.0,87.0,1877.0,4.4,1.579107e+06,5586.835358,10314,10314
50606,50607,36085031901,388050,0,Census Tract 319.01,New York,Richmond County,9939.0,NaN,5483.0,...,NaN,54250.0,1055.0,47.0,1008.0,4.5,6.744283e+05,3339.653950,10303,10303
50607,50608,36085031902,690539,296692,Census Tract 319.02,New York,Richmond County,37500.0,NaN,NaN,...,75625.0,NaN,1670.0,72.0,1598.0,4.3,1.201249e+06,6299.652667,10303,10303
50608,50609,36085032300,3869216,462391,Census Tract 323,New York,Richmond County,71250.0,NaN,95197.0,...,59167.0,54500.0,440.0,18.0,422.0,4.1,6.759215e+06,13975.172716,10303,10303

In [103]:
colToMove1 = txt_geojson_csv.pop('ZCTA5')
colToMove2 = txt_geojson_csv.pop('modzcta')
txt_geojson_csv.insert(1, 'ZCTA5', colToMove1)
txt_geojson_csv.insert(2, 'modzcta', colToMove2)
txt_geojson_csv

,Object ID,ZCTA5,modzcta,Geographic Identifier - FIPS Code,Area of Land (Square Meters),Area of Water (Square Meters),Name,State,County,Median Household Income in past 12 months (inflation-adjusted dollars to last year of 5-year range),...,"Median Household Income in past 12 months, Some Other Race Householder","Median Household Income in past 12 months, 2 or More Races Householder","Median Household Income in past 12 months, Non-Hispanic White Householder","Median Household Income in past 12 months, Hispanic or Latino Householder",Total Households,Households with any self-employment income in past 12 months,Households with no self-employment income in past 12 months,Percent of households with any self-employment income,Shape Area,Shape Length
48166,48167,11370,11370,36005000100,1677210,1035011,Census Tract 1,New York,Bronx County,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,2.733874e+06,6859.256905
48167,48168,10473,10473,36005000200,479463,852046,Census Tract 2,New York,Bronx County,59914.0,...,59333.0,130583.0,106146.0,62838.0,1328.0,77.0,1251.0,5.8,8.316785e+05,5722.479186
48168,48169,10473,10473,36005000400,770689,690794,Census Tract 4,New York,Bronx County,82073.0,...,101776.0,158000.0,69671.0,81554.0,1963.0,144.0,1819.0,7.3,1.558096e+06,9823.218030
48169,48170,10473,10473,36005001600,485079,0,Census Tract 16,New York,Bronx County,35802.0,...,33295.0,NaN,NaN,36085.0,1982.0,66.0,1916.0,3.3,8.478126e+05,3898.163232
48170,48171,10454,10454,36005001900,1668013,1143135,Census Tract 19,New York,Bronx County,42075.0,...,46932.0,42292.0,56750.0,46705.0,929.0,108.0,821.0,11.6,2.859324e+06,12087.013655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50605,50606,10303,10303,36085030302,908763,0,Census Tract 303.02,New York,Richmond County,79865.0,...,53462.0,146719.0,87926.0,78977.0,1964.0,87.0,1877.0,4.4,1.579107e+06,5586.835358
50605,50606,10314,10314,36085030302,908763,0,Census Tract 303.02,New York,Richmond County,79865.0,...,53462.0,146719.0,87926.0,78977.0,1964.0,87.0,1877.0,4.4,1.579107e+06,5586.835358
50606,50607,10303,10303,36085031901,388050,0,Census Tract 319.01,New York,Richmond County,9939.0,...,33523.0,NaN,NaN,54250.0,1055.0,47.0,1008.0,4.5,6.744283e+05,3339.653950
50607,50608,10303,10303,36085031902,690539,296692,Census Tract 319.02,New York,Richmond County,37500.0,...,NaN,NaN,75625.0,NaN,1670.0,72.0,1598.0,4.3,1.201249e+06,6299.652667
50608,50609,10303,10303,36085032300,3869216,462391,Census Tract 323,New York,Richmond County,71250.0,...,2499.0,NaN,59167.0,54500.0,440.0,18.0,422.0,4.1,6.759215e+06,13975.172716

In [110]:
txt_geojson_csv.dtypes

Object ID                                                                                                int64
ZCTA5                                                                                                   object
modzcta                                                                                                 object
Geographic Identifier - FIPS Code                                                                        int64
Area of Land (Square Meters)                                                                             int64
Area of Water (Square Meters)                                                                            int64
Name                                                                                                    object
State                                                                                                   object
County                                                                                                  object
Median Household Income in past 12 months (inflation-adjusted dollars to last year of 5-year range)    float64
Median Household Income in past 12 months, Householder under 25 years                                  float64
Median Household Income in past 12 months, Householder 25 to 44 years                                  float64
Median Household Income in past 12 months, Householder 45 to 64 years                                  float64
Median Household Income in past 12 months, Householder 65 years and over                               float64
Median Household Income in past 12 months, Black or African American Householder                       float64
Median Household Income in past 12 months, American Indian and Alaska Native Householder               float64
Median Household Income in past 12 months, Asian Householder                                           float64
Median Household Income in past 12 months, Native Hawaiian and Other Pacific Islander Householder      float64
Median Household Income in past 12 months, Some Other Race Householder                                 float64
Median Household Income in past 12 months, 2 or More Races Householder                                 float64
Median Household Income in past 12 months, Non-Hispanic White Householder                              float64
Median Household Income in past 12 months, Hispanic or Latino Householder                              float64
Total Households                                                                                       float64
Households with any self-employment income in past 12 months                                           float64
Households with no self-employment income in past 12 months                                            float64
Percent of households with any self-employment income                                                  float64
Shape Area                                                                                             float64
Shape Length                                                                                           float64
dtype: object

In [104]:
txt_geojson_csv.to_csv('../datas/01income-cleaned-2.csv', index=False)

In [20]:
len(zcta_modzcta.keys())

214

In [21]:
colTOdrop = []
for column in incomeraw.columns:
    if 'Margin of Error' in column:
        colTOdrop.append(column)
incomeColDropped = incomeraw.drop(columns=colTOdrop, inplace=False)
incomeColDropped.head()

,Object ID,Geographic Identifier - FIPS Code,Area of Land (Square Meters),Area of Water (Square Meters),Name,State,County,Median Household Income in past 12 months (inflation-adjusted dollars to last year of 5-year range),"Median Household Income in past 12 months, Householder under 25 years","Median Household Income in past 12 months, Householder 25 to 44 years",...,"Median Household Income in past 12 months, Some Other Race Householder","Median Household Income in past 12 months, 2 or More Races Householder","Median Household Income in past 12 months, Non-Hispanic White Householder","Median Household Income in past 12 months, Hispanic or Latino Householder",Total Households,Households with any self-employment income in past 12 months,Households with no self-employment income in past 12 months,Percent of households with any self-employment income,Shape Area,Shape Length
0,1,15001020100,251395456,10656645,Census Tract 201,Hawaii,Hawaii County,52719.0,NaN,54107.0,...,NaN,45172.0,66339.0,17344.0,1632.0,177.0,1455.0,10.8,2.855838e+08,91984.379303
1,2,15001020202,634357084,1275028,Census Tract 202.02,Hawaii,Hawaii County,46213.0,NaN,68068.0,...,NaN,NaN,55833.0,55625.0,649.0,87.0,562.0,13.4,7.192546e+08,159255.572106
2,3,15001020300,3291798,488896,Census Tract 203,Hawaii,Hawaii County,34575.0,NaN,25938.0,...,NaN,23676.0,34250.0,NaN,1667.0,207.0,1460.0,12.4,3.734108e+06,17860.550415
3,4,15001020400,2702028,2217184,Census Tract 204,Hawaii,Hawaii County,32214.0,NaN,NaN,...,NaN,20132.0,22260.0,29583.0,1303.0,168.0,1135.0,12.9,3.065112e+06,9404.321403
4,5,15001020500,6092956,96345,Census Tract 205,Hawaii,Hawaii County,28658.0,NaN,51557.0,...,NaN,17857.0,NaN,NaN,2260.0,140.0,2120.0,6.2,6.910455e+06,13495.129472

In [25]:
cleanedconvertor = convertor[['ZCTA5', 'GEOID']]

In [35]:
testGEOID = cleanedconvertor[cleanedconvertor['ZCTA5'] == '10119']['GEOID'].iloc[0]

In [38]:
incomeNY = incomeColDropped[incomeColDropped['State'] == 'New York']
incomeNY.shape

(4900, 26)

In [40]:
incomeNY[incomeNY['Geographic Identifier - FIPS Code'] == testGEOID]

,Object ID,Geographic Identifier - FIPS Code,Area of Land (Square Meters),Area of Water (Square Meters),Name,State,County,Median Household Income in past 12 months (inflation-adjusted dollars to last year of 5-year range),"Median Household Income in past 12 months, Householder under 25 years","Median Household Income in past 12 months, Householder 25 to 44 years",...,"Median Household Income in past 12 months, Some Other Race Householder","Median Household Income in past 12 months, 2 or More Races Householder","Median Household Income in past 12 months, Non-Hispanic White Householder","Median Household Income in past 12 months, Hispanic or Latino Householder",Total Households,Households with any self-employment income in past 12 months,Households with no self-employment income in past 12 months,Percent of households with any self-employment income,Shape Area,Shape Length
49644,49645,36061010100,175519,0,Census Tract 101,New York,New York County,135000.0,32232.0,158056.0,...,NaN,NaN,160893.0,NaN,830.0,65.0,765.0,7.8,306137.4375,2292.316166

In [83]:
incomeNY['ZCTA5'] = ''
incomeNY['moczcta'] = ''
incomeNY.shape

(4900, 28)

In [84]:
incomeNYC = pandas.DataFrame(columns=incomeNY.columns)
for zcta in zcta_modzcta:
    geoidlist = cleanedconvertor[cleanedconvertor['ZCTA5'] == zcta]['GEOID'].to_list()
    for geoid in geoidlist:
        tmpseires = incomeNY[incomeNY['Geographic Identifier - FIPS Code'] == geoid]
        tmpseires['ZCTA5'] = zcta
        tmpseires['moczcta'] = zcta_modzcta[zcta]
        incomeNYC = incomeNYC.append(tmpseires, ignore_index=True)
incomeNYC

,Object ID,Geographic Identifier - FIPS Code,Area of Land (Square Meters),Area of Water (Square Meters),Name,State,County,Median Household Income in past 12 months (inflation-adjusted dollars to last year of 5-year range),"Median Household Income in past 12 months, Householder under 25 years","Median Household Income in past 12 months, Householder 25 to 44 years",...,"Median Household Income in past 12 months, Non-Hispanic White Householder","Median Household Income in past 12 months, Hispanic or Latino Householder",Total Households,Households with any self-employment income in past 12 months,Households with no self-employment income in past 12 months,Percent of households with any self-employment income,Shape Area,Shape Length,ZCTA5,moczcta
0,49601,36061005800,174669,0,Census Tract 58,New York,New York County,188385.0,NaN,189583.0,...,235077.0,NaN,2125.0,312.0,1813.0,14.7,3.045951e+05,2304.000146,10001,10001
1,49619,36061007600,174274,0,Census Tract 76,New York,New York County,115139.0,120417.0,107026.0,...,140380.0,81150.0,1083.0,112.0,971.0,10.3,3.039510e+05,2302.784595,10001,10001
2,49635,36061009100,179099,0,Census Tract 91,New York,New York County,121183.0,NaN,171066.0,...,149665.0,NaN,3764.0,610.0,3154.0,16.2,3.123333e+05,2311.189134,10001,10001
3,49637,36061009300,179098,0,Census Tract 93,New York,New York County,64967.0,NaN,121450.0,...,95250.0,21392.0,5217.0,822.0,4395.0,15.8,3.123584e+05,2310.209600,10001,10001
4,49639,36061009500,171964,0,Census Tract 95,New York,New York County,142700.0,NaN,170250.0,...,171339.0,134063.0,1196.0,203.0,993.0,17.0,2.999155e+05,2277.347688,10001,10001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2889,50376,36081093800,809668,1300951,Census Tract 938,New York,Queens County,49398.0,NaN,61061.0,...,60089.0,30568.0,2234.0,17.0,2217.0,0.8,1.442797e+06,5308.113896,11694,11694
2890,50378,36081094201,347514,199843,Census Tract 942.01,New York,Queens County,64688.0,NaN,75875.0,...,91122.0,50856.0,1299.0,75.0,1224.0,5.8,6.147501e+05,3361.469085,11694,11694
2891,50366,36081091601,4374026,4924631,Census Tract 916.01,New York,Queens County,103580.0,NaN,168125.0,...,100341.0,NaN,1365.0,91.0,1274.0,6.7,5.668437e+06,15524.925649,11697,11697
2892,50367,36081091602,1277598,1124549,Census Tract 916.02,New York,Queens County,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,NaN,2.265291e+06,6665.643092,11697,11697
2893,50368,36081091800,1126858,2293626,Census Tract 918,New York,Queens County,NaN,NaN,NaN,...,NaN,NaN,7.0,0.0,7.0,0.0,2.146777e+06,7711.179999,11697,11697

In [85]:
incomeNYC.reset_index(drop=True, inplace=True)
incomeNYC.head()

,Object ID,Geographic Identifier - FIPS Code,Area of Land (Square Meters),Area of Water (Square Meters),Name,State,County,Median Household Income in past 12 months (inflation-adjusted dollars to last year of 5-year range),"Median Household Income in past 12 months, Householder under 25 years","Median Household Income in past 12 months, Householder 25 to 44 years",...,"Median Household Income in past 12 months, Non-Hispanic White Householder","Median Household Income in past 12 months, Hispanic or Latino Householder",Total Households,Households with any self-employment income in past 12 months,Households with no self-employment income in past 12 months,Percent of households with any self-employment income,Shape Area,Shape Length,ZCTA5,moczcta
0,49601,36061005800,174669,0,Census Tract 58,New York,New York County,188385.0,NaN,189583.0,...,235077.0,NaN,2125.0,312.0,1813.0,14.7,304595.121094,2304.000146,10001,10001
1,49619,36061007600,174274,0,Census Tract 76,New York,New York County,115139.0,120417.0,107026.0,...,140380.0,81150.0,1083.0,112.0,971.0,10.3,303951.046875,2302.784595,10001,10001
2,49635,36061009100,179099,0,Census Tract 91,New York,New York County,121183.0,NaN,171066.0,...,149665.0,NaN,3764.0,610.0,3154.0,16.2,312333.265625,2311.189134,10001,10001
3,49637,36061009300,179098,0,Census Tract 93,New York,New York County,64967.0,NaN,121450.0,...,95250.0,21392.0,5217.0,822.0,4395.0,15.8,312358.382812,2310.209600,10001,10001
4,49639,36061009500,171964,0,Census Tract 95,New York,New York County,142700.0,NaN,170250.0,...,171339.0,134063.0,1196.0,203.0,993.0,17.0,299915.515625,2277.347688,10001,10001

In [102]:
colToMove1 = incomeNYC.pop('ZCTA5')
colToMove2 = incomeNYC.pop('modzcta')
incomeNYC.insert(1, 'ZCTA5', colToMove1)
incomeNYC.insert(2, 'modzcta', colToMove2)
incomeNYC.head()

KeyError: 'modzcta'

In [87]:
incomeNYC.to_csv('../datas/01income-cleaned.csv', index=False)

# check

In [2]:
import pandas
check_noob = pandas.read_csv('../datas/4-medianIncomeACS_Median_Household_Income_Variables_-_Boundaries.csv')
check_hack = pandas.read_csv('../datas/01income-cleaned.csv')
print(check_hack.shape)
print(check_noob.shape)

(2894, 28)
(2894, 28)

In [3]:
check_noob1 = check_noob.sort_values(by=check_noob.columns.tolist()).reset_index(drop=True)
check_hack1 = check_hack.sort_values(by=check_hack.columns.tolist()).reset_index(drop=True)
print (check_noob1.equals(check_hack1))

True

In [111]:
check_hack.dtypes

Object ID                                                                                                int64
ZCTA5                                                                                                    int64
modzcta                                                                                                  int64
Geographic Identifier - FIPS Code                                                                        int64
Area of Land (Square Meters)                                                                             int64
Area of Water (Square Meters)                                                                            int64
Name                                                                                                    object
State                                                                                                   object
County                                                                                                  object
Median Household Income in past 12 months (inflation-adjusted dollars to last year of 5-year range)    float64
Median Household Income in past 12 months, Householder under 25 years                                  float64
Median Household Income in past 12 months, Householder 25 to 44 years                                  float64
Median Household Income in past 12 months, Householder 45 to 64 years                                  float64
Median Household Income in past 12 months, Householder 65 years and over                               float64
Median Household Income in past 12 months, Black or African American Householder                       float64
Median Household Income in past 12 months, American Indian and Alaska Native Householder               float64
Median Household Income in past 12 months, Asian Householder                                           float64
Median Household Income in past 12 months, Native Hawaiian and Other Pacific Islander Householder      float64
Median Household Income in past 12 months, Some Other Race Householder                                 float64
Median Household Income in past 12 months, 2 or More Races Householder                                 float64
Median Household Income in past 12 months, Non-Hispanic White Householder                              float64
Median Household Income in past 12 months, Hispanic or Latino Householder                              float64
Total Households                                                                                       float64
Households with any self-employment income in past 12 months                                           float64
Households with no self-employment income in past 12 months                                            float64
Percent of households with any self-employment income                                                  float64
Shape Area                                                                                             float64
Shape Length                                                                                           float64
dtype: object